*{
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    font-family:"Autour One";
}
.content {
    min-height:calc(100vh - 82px);
}
header {
    margin-bottom: 27px;
    text-align: center;
    background-color: #30a0a0;
    color: white;
    padding: 10px !important;
}
header h1 {
    font-size: 44px;
    text-shadow: -3px 0 black, 0 3px black, 3px 0 black, 0 -3px black;
}
.menu ul li {
    padding: 15px;
    margin-bottom: 10px;
    background-color: teal;
}
.menu ul li:hover {
    box-shadow: 5px 0 5px lightblue,-5px 0 5px lightblue,0 5px 5px lightblue,0 -5px 5px lightblue;
}
.menu ul li a:link {
    text-decoration: none;
    color: white;
    text-shadow: 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black;
}
.menu ul li a:visited {
    color:#03ffff;
    text-shadow: none;
}
.menu ul li a:hover {
    text-shadow: 0 0 ;
}
.menu ul li .wide {
    display: block;
}
.menu ul li i {
    color: white;
    margin-right: 7px;
}
.bio,.aside h2 {
    font-size: 27px;
}
.bio p,.bio ul{
    margin-left: 1%;
}
.aside {
    color: white;
    background-color: teal;
    text-align: center;
    font-size: 15px;
}
.aside h2 {
    text-shadow: 1px 0 black, 0 1px black, -1px 0 black, 0 -1px black;
}
footer {
    text-align: center;
    color: white;
    background-color: teal;
    margin-top: 27px;
    height: 55px;
}
.menu ul li,.aside p {
    font-size: 20px;
}

.list-unstyled {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

@media (max-width:767px){
    [class*="col-"] {
        float: none;
        width: 100%;
        padding: 15px;
    }
}

.clearfix {
    clear: both;
}
.res-img {
    max-width: 100%;
    height: auto;
    border: 2px solid teal;
    padding: 3px;
    background-color: white;
}